body {
  background-color: #ebd1f1;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
}
h2 {
  margin: 0 0 5px;
  font-size: 28px;
}
select {
  display: block;
  width: 100%;
  font-size: 20px;
  border-radius: 5px;
  padding: 8px;
}
footer {
  text-align: center;
  font-size: 20px;
}

.container {
  max-width: 600px;
  margin: 60px auto;
  background-color: white;
  border-radius: 10px;
  padding: 30px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.city {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  padding: 30px 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}
.city:last-child {
  border: none;
}
.time {
  font-size: 48px;
  font-weight: bold;
}

.time small {
  font-size: 24px;

  vertical-align: middle;
}
.date {
  opacity: 0.7;
}
